<!DOCTYPE html>
<body>

<h3>Results</h3>

<ul>
<% @exercise_classes.each do |exercise_class| %>

	<li>Class name: <%= link_to(exercise_class.name, exercise_class) %></li>
	<%= button_to "Attend", attend_user_path(:exercise_class_id => exercise_class.id), :method => :post %>
	<%= button_to "Rate", rating_user_path(:ratings => @user_ratings), :method => :post %>
<% end %>



<%= link_to("Go to home page", root_path) %>
</ul>

</body>
</html>
